## -*- coding: utf-8 -*-
<%namespace name="util" file="functions.html" />
<%!
import config
import debug

%>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Uamuzibora Labs</title>
<script type="text/javascript" src="javascript/flotr/lib/prototype.js"></script>

		
<!--[if IE]>
	<script type="text/javascript" src="flotr/lib/excanvas.js"></script>
	>script type="text/javascript" src="flotr/lib/base64.js"></script>
<![endif]-->
<script type="text/javascript" src="javascript/flotr/lib/canvas2image.js"></script>
<script type="text/javascript" src="javascript/flotr/lib/canvastext.js"></script>
<script type="text/javascript" src="javascript/flotr/flotr.js"></script>
<script type="text/javascript" src="javascript/plotting.js"></script>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<style type="text/css">
body {padding-top:50px;}
</style>

</head>
<body>
<script src="js/bootstrap.min.js"></script>

   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="${config.webroot[0:-1]}">Uamuzibora Labs</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
               <li><a href="${config.webroot}single_query">Clinic Statistics</a></li>
	      <li><a href="${config.webroot}distribute">Distribution of Numerical Variables</a></li>
	      <li><a href="${config.webroot}count">Counting Statistics</a></li>
	      <li><a href="${config.webroot}scatter">Scatter Plots</a></li>
	      <li><a href="${config.webroot}compare">Compare Numerical Variables</a></li>
           
	      
	      <li><a href="${config.webroot}about.html">About</a></li>
              <li><a href="${config.webroot}contact.html">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   

   <div class="container-fluid">

<!--If Error Message in contents we display here.-->
%if 'error' in content.keys():
<div class="alert alert-error">  
  
  <strong>Error! </strong> ${content["error"]}  
</div>  
%endif
  
   
