## -*- coding: utf-8 -*-
<%namespace name="util" file="functions.html" />
<%!
import config
import debug
%>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Uamuzibora Labs</title>

<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!--<script language="javascript" type="text/javascript" src="js/jquery.js"></script>-->
<script language="javascript" type="text/javascript" src="js/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="js/jquery.flot.pie.js"></script>
<script language="javascript" type="text/javascript" src="js/jquery.flot.time.js"></script>
<script language="javascript" type="text/javascript" src="js/jquery.flot.axislabels.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<!--<script src="js/bootstrap-dropdown.js"></script>-->
<style type="text/css">
body {padding-top:100px;
background: url(images/ub_background.jpg) top center no-repeat;}
#rotated {
position: relative;
top:180px;
white-space: nowrap;
width:5em;margin:0;
   vertical-align:middle;
   transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  }

}

</style>

</head>
<body>

   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner2">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

       
         <div class="nav-collapse">
           <ul class="nav" >
	   <a class="brand" href="http://www.uamuzibora.org"><img src="images/ublogo.png" /></a>
	      <li><a href="${config.webroot}single_query" style="line-height:40px;">Clinic Indicators</a></li>
               <li><a href="${config.webroot}outcome" style="line-height:40px;">Health Outcomes</a></li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="line-height:40px;">Advanced</a>
		<ul class="dropdown-menu">
		  <li><a href="${config.webroot}count">Counting Statistics</a></li>
		  <li><a href="${config.webroot}distribute">Distribute Numerical Variables</a></li>
		  <li><a href="${config.webroot}compare">Compare Numerical Variables</a></li>
		  <li><a href="${config.webroot}scatter">Scatterplots</a></li>

		</ul>
	      </li>
		  
           </ul>
	    <ul class="nav pull-right">
	      <li><a href="http://www.uamuzibora.org/a-better-choice/" style="line-height:40px;">about us</a></li>
	      <li><a href="http://www.uamuzibora.org/what-we-do/" style="line-height:40px;">what we do</a></li>
	      <li><a href="http://www.uamuzibora.org/contact-us/" style="line-height:40px;">contact us</a></li>
            </ul>
         </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   

   <div class="container-fluid">

<!--If Error Message in contents we display here.-->
%if 'error' in content.keys():
<div class="alert alert-error">  
  
  <strong>Error! </strong> ${content["error"]}  
</div>  
%endif
  
   
