<%namespace name="util" file="functions.html" />
<%include file="header.html"/>
<%!
	import config
%>

<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>Welcome to Uamuzi Labs</h1>
      <h3>enabling you to explore data in completely new and different ways<br />

      Explore the menus above or follow the links below:
	</h3>
	<a href="${config.webroot}single_query"><h4>Clinic Indicators</h4></a>
	<a href="${config.webroot}outcome"><h4>Health Outcomes</h4></a>
	<h3>Advanced: </h3>
	<a href="${config.webroot}count"><h4>Counting Statistics</h4></a>
	<a href="${config.webroot}distribute"><h4>Distribute Numerical Variables</h4></a>
	<a href="${config.webroot}compare"><h4>Compare Numerical Variables</h4></a>
	<a href="${config.webroot}scatter"><h4>Scatter Plots</h4></a>
    </div>




<%include file="footer.html"/>
