<%namespace name="util" file="functions.html" />
<%include file="header.html" />


<div class="row-fluid">
  <div class="span2">
<h2>Clinic Statistics </h2>
${util.single_query_form(content['variables'])}

  </div>
  <div class="span10">
    %if "data" in content.keys():
    <div class="row-fluid">
      <div class="span3">
	<h3> ${content["data"].field['pretty_name']} <br /> per Year</h3>
	${util.single_query_table(content["data"])}
      </div>
      <div class="span7">
	<h3> Timeline for ${content["data"].field['pretty_name']} per month </h3>
	${util.single_query_chart(content["data"])}
      </div>
    </div>
    %else:
    <h3> Choose a variable to display statistics </h3>
    %endif

  </div>
</div>
<%include file="footer.html" />

